{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
    <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poste</th>
                <th>Sect</th>
                <th>Eff</th>
                <th>Ineff</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.poste }}</td>
                <td>{{ section.sect }}</td>
                <td>{{ section.eff }}</td>
                <td>{{ section.ineff }}</td>
                <td>
                    <a href="{{ path('section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Create new</a>
{% endblock %}
