{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <h1>Achat index</h1>

    <table id="example" class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Qt</th>
                <th>stock</th>
                <th>Ecart</th>
                <th>Taux de couverture</th>
                <th>A Commander (ecart+10%)</th>
                <th>Origine</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td class="text-danger">{{ achat.no }}</td>
                <td>{{ achat.qt }}</td>
                <td>{{ achat.stock }}</td>
                <td>{{ achat.ecart }}</td>
                <td>{{ achat.couv|number_format(0, '.', '') }} % </td>
                <td>{{ achat.acmd }}</td>
                <td>{{ achat.origine }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('achat_new') }}">Create new</a>
{% endblock %}
