{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-umbrella icon-gradient bg-sunny-morning">
                    </i>
                </div>
                <div><h2>Stock</h2>

                </div>
            </div>
            <div class="page-title-actions">
                <a class="btn btn-info btn-shadow " href="{{ path('stock_import') }}" role="button">Update</a>
                <a class="btn btn-alternate btn-shadow " href="{{ path('elcat') }}" role="button">Calule CBN</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-12 card ">

    <table id="example" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>No</th>
                <th>Qt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.no }}</td>
                <td>{{ stock.qt }}</td>
                <td>
                    <a href="{{ path('stock_show', {'id': stock.id}) }}">show</a>
                    <a href="{{ path('stock_edit', {'id': stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div></div></div>
    <a href="{{ path('stock_new') }}">Create new</a>
{% endblock %}
